<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

% if settings.FEATURES.get('SHOW_LABSTER_NOTIFICATION'):
<div id="labster-notification" class="wrapper-msg urgency-low warning">
  <div class="msg">
    <div class="msg-content">
      <div class="copy">
        <p>
          ${_('Labster has moved to a new access portal and will discontinue this service after Dec 31, 2020.')}<br />
          ${_('Please contact Customer Support if you have any questions.')}
        </p>
      </div>
    </div>
  </div>
</div>
<%block name="js_extra">
<script>
  $(function() {
    if (!$.cookie('labster_notification_popup')) {
      $('#labster-notification').show();
      $('#labster-notification .dismiss-button').on('click', function() {
        $.cookie('labster_notification_popup', true);
        $('#labster-notification').hide();
      });
    }
  });
</script>
</%block>
% endif
