## mako
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from courseware.tabs import get_course_tab_list
from courseware.views import notification_image_for_tab
from django.core.urlresolvers import reverse
from django.conf import settings
from openedx.core.djangoapps.course_groups.partition_scheme import get_cohorted_user_partition
from student.models import CourseEnrollment
%>
<%page args="active_page=None" />

<%
if active_page is None and active_page_context is not UNDEFINED:
  active_page = active_page_context

def url_class(is_active):
  if is_active:
    return "active"
  return ""

def selected(is_selected):
  return "selected" if is_selected else ""

%>






<nav class="${active_page} wrapper-course-material" aria-label="${_('Teacher Dashboard')}">
  <div class="course-material">
    <ol class="course-tabs">

      % for tab in get_course_tab_list(request, course):
        <%
            tab_is_active = (tab.tab_id == active_page) or (tab.tab_id == default_tab)
            tab_image = notification_image_for_tab(tab, user, course)
        %>
          <li>
             <a href="${tab.link_func(course, reverse) | h}" class="${url_class(tab_is_active)}">
                 ${_(tab.name) | h}
                 % if tab_is_active:
                   <span class="sr">, current location</span>
                 %endif
                 % if tab_image:
                   Translators: 'needs attention' is an alternative string for the
                   notification image that indicates the tab "needs attention".
                   <img src="${tab_image}" alt="${_('needs attention')}" />
                 %endif
             </a>
          </li>
      % endfor
      <%block name="extratabs" />
    </ol>
  </div>
</nav>
