{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}
We have created a course for you and you are almost set. The last step is for you to set your password
associated with the following login {{ email }}. Please go to to the following page :
{% endblocktrans %}
{% block reset_link %}{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}{% endblock %}

{% blocktrans %}If you have any questions, please contact your Customer Success Specialist or {{ contact_email }}{% endblocktrans %}

{% endautoescape %}
